.appbody {
  background-color: hsl(0, 0%, 98%)
}

.top-component {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 70px;
  width: 100%;
}

.where {
  padding-left: 70px;
}

.dark {
  padding-right: 70px;
}

.main {
  margin: 0px 50px;
}

.query-elements {
  padding: 40px 0px;
}

#search {
  width: 40%;
  height: 35px;
  border-radius: 3px;
  border-style: solid;
  border-color: hsl(0, 0%, 92%);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row;
}